<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yysj.bangtang.mapper.ClientMapper" >
  <resultMap id="BaseResultMap" type="com.yysj.bangtang.bean.Client" >
    <id column="email" property="email" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="picPath" property="picpath" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="regTime" property="regtime" jdbcType="TIMESTAMP" />
    <result column="reLoTime" property="relotime" jdbcType="TIMESTAMP" />
    <result column="machine" property="machine" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    email, password, nickName, gender, nation, picPath, state, regTime, reLoTime, machine
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yysj.bangtang.bean.ClientExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from client
    where email = #{email,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from client
    where email = #{email,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yysj.bangtang.bean.ClientExample" >
    delete from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yysj.bangtang.bean.Client" >
    insert into client (email, password, nickName, 
      gender, nation, picPath, 
      state, regTime, reLoTime, 
      machine)
    values (#{email,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{nation,jdbcType=VARCHAR}, #{picpath,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{regtime,jdbcType=TIMESTAMP}, #{relotime,jdbcType=TIMESTAMP}, 
      #{machine,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yysj.bangtang.bean.Client" >
    insert into client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="email != null" >
        email,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="picpath != null" >
        picPath,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="regtime != null" >
        regTime,
      </if>
      <if test="relotime != null" >
        reLoTime,
      </if>
      <if test="machine != null" >
        machine,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="picpath != null" >
        #{picpath,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="regtime != null" >
        #{regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="relotime != null" >
        #{relotime,jdbcType=TIMESTAMP},
      </if>
      <if test="machine != null" >
        #{machine,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yysj.bangtang.bean.ClientExample" resultType="java.lang.Integer" >
    select count(*) from client
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update client
    <set >
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null" >
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        nickName = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=INTEGER},
      </if>
      <if test="record.nation != null" >
        nation = #{record.nation,jdbcType=VARCHAR},
      </if>
      <if test="record.picpath != null" >
        picPath = #{record.picpath,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.regtime != null" >
        regTime = #{record.regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.relotime != null" >
        reLoTime = #{record.relotime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.machine != null" >
        machine = #{record.machine,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update client
    set email = #{record.email,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      nickName = #{record.nickname,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=INTEGER},
      nation = #{record.nation,jdbcType=VARCHAR},
      picPath = #{record.picpath,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER},
      regTime = #{record.regtime,jdbcType=TIMESTAMP},
      reLoTime = #{record.relotime,jdbcType=TIMESTAMP},
      machine = #{record.machine,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yysj.bangtang.bean.Client" >
    update client
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="picpath != null" >
        picPath = #{picpath,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="regtime != null" >
        regTime = #{regtime,jdbcType=TIMESTAMP},
      </if>
      <if test="relotime != null" >
        reLoTime = #{relotime,jdbcType=TIMESTAMP},
      </if>
      <if test="machine != null" >
        machine = #{machine,jdbcType=VARCHAR},
      </if>
    </set>
    where email = #{email,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yysj.bangtang.bean.Client" >
    update client
    set password = #{password,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      nation = #{nation,jdbcType=VARCHAR},
      picPath = #{picpath,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      regTime = #{regtime,jdbcType=TIMESTAMP},
      reLoTime = #{relotime,jdbcType=TIMESTAMP},
      machine = #{machine,jdbcType=VARCHAR}
    where email = #{email,jdbcType=VARCHAR}
  </update>
</mapper>